<%= simple_form_for @micropost do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.input :content, label: false, as: :text, placeholder: "Compose new micropost..." %>
    <span id="charlimitinfo">У Вас осталось 140 символов.</span>
  </div>
  <%= f.button :submit, "Post", class: "btn btn-large btn-primary" %>
<% end %>
